<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uwcse.morepractice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_lao"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.uwcse.morepractice.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" 
            android:parentActivityName="com.uwcse.morepractice.ChooseLanguage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uwcse.morepractice.ChooseLanguage" />
        </activity>
        <activity
            android:name="com.uwcse.morepractice.Splash"
            android:label="@string/splash"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.uwcse.morepractice.ChooseLanguage"
            android:label="@string/language"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.uwcse.morepractice.TrainingPackageActivity"
            android:label="@string/title_activity_training_package"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.uwcse.morepractice.VideoActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.uwcse.morepractice.TrainingPackageNavigation"
            android:label="@string/activity_training_navigation"
            android:screenOrientation="landscape" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="4323000" />

        <activity
            android:name="com.uwcse.morepractice.DownloadActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_download">
        </activity>
        <activity
            android:name="com.uwcse.morepractice.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.uwcse.morepractice.CustomTags"
            android:label="@string/title_activity_custom_tags"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.uwcse.morepractice.SMSActivity"
            android:label="@string/title_activity_sms"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.uwcse.morepractice.TrainingPackageTopics"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_topics">
        </activity>
        <activity
            android:name="com.uwcse.morepractice.Topic"
            android:screenOrientation="landscape"
            android:label="@string/title_topics">
        </activity>
        <activity
            android:name="com.uwcse.morepractice.Single"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>